.profilePage{
    display: grid;
    grid-template-rows: 1fr 2fr 11fr;
}

.profilePage .profileImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    justify-content: space-between;
}

.profilePage .profileImg .profile-img{
    width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    margin-left: 8rem;
    margin-top: 1rem;
}

.profilePage .profileImg .profileInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self:center;
    justify-items: center;
    margin: 2rem;
}

.profileInfo div{
   margin-right: 10rem;
}

.profileInfo .postsCount{
    margin-left: 10rem;
}

.About {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    margin-left: 32rem;
}

.About .profile-about {
    margin-top: -2rem;
}



.profile-btns button{
    margin-right: 6rem;
    position: relative;
}

.profile-posts{
    margin-left: 10rem;
    margin-right: 10rem;
}

